{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{/* List the 5 most recent posts from the 'posts' section */}}
    <h2 class="mn2">Recent Writings</h2>
    <ul>
        {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span class="muted"> - {{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
    </ul>

    {{/* NEW: Add a link to the main posts page */}}
    <p class="st">
        <a href="{{ ($.Site.GetPage "section" "posts").RelPermalink }}">All Writings</a>
    </p>

</article>
{{ end }}
